*{
	font-family: sans-serif;
}
ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: white;
}

li {
	flex-direction: row;
	text-align: center;
	padding: 14px 16px;
}

.nav-title{
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bolder;
	color: rgb(28, 198, 28);
	text-decoration: none;
}

.nav-button{
    text-decoration: none;
    color: black;
	font-weight: bold;
}

.nav-button:hover{
    color: rgb(28, 198, 28);
}
